@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

:root {

  --foreground: #171717;

  --primary-color: hsl(151, 46%, 47%);
  --tertiary-color: hsl(190, 100%, 28%);

  --bg-color: hsl(220, 13%, 90%);
  --bg-dark-color: hsl(220, 13%, 85%);
  --bg-light-color: hsl(220, 13%, 95%);
  --bg-accent-color: hsl(151, 46%, 30%);

  --txt-color: hsl(220, 13%, 5%);
  --txt-muted-color: hsl(220, 13%, 30%);

  --map-low: "#aef5d3";
  --map-high: "#0e251a";

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f3fbf3;

    --bg-color: hsl(220, 13%, 10%);
    --bg-dark-color: hsl(220, 13%, 5%);
    --bg-light-color: hsl(220, 13%, 15%);

    --txt-color: hsl(220, 13%, 95%);
    --txt-muted-color: hsl(220, 13%, 70%);

    --map-low: "#0e251a";
    --map-high: "#aef5d3";
  }

}

@theme inline {
  --color-background: var(--bg-dark-color);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-primary: "Nunito", "serif";


  --color-primary: var(--primary-color);
  --color-tertiary: var(--tertiary-color);

  --color-bg-dark: var(--bg-dark-color);
  --color-bg-light: var(--bg-light-color);
  --color-bg: var(--bg-color);

  --color-txt: var(--txt-color);
  --color-txt-muted: var(--txt-muted-color);

  --color-map-low: var(--map-low);
  --color-map-high: var(--map-high);

}

body {
  background: var(--bg-dark-color);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}