@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

:root {
  --background: hsl(220, 13%, 90%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-primary: "Nunito", "serif";

  --color-primary: hsl(151, 46%, 47%);
  --color-tertiary: hsl(190, 100%, 28%);

  --color-bg-dark: hsl(220, 13%, 90%);
  --color-bg-light: hsl(220, 13%, 100%);
  --color-bg: hsl(220, 13%, 95%);
  --color-bg-accent: hsl(151, 46%, 30%);

  --color-txt: hsl(220, 13%, 5%) ;
  --color-txt-muted: hsl(220, 13%, 30%);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /*not used*/
    --foreground: #f3fbf3; /*not used*/
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}